@page
@model WebApp.Pages.Account.LoginModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row mb-3">
            <div class="col-2">
                <label asp-for="credentialViewModel.Email"></label>
            </div>
            <div class="col-5">
                <input asp-for="credentialViewModel.Email" class="form-control" />
                <span class="text-danger" asp-validation-for="credentialViewModel.Email"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <label asp-for="credentialViewModel.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="credentialViewModel.Password" class="form-control" />
                <span class="text-danger" asp-validation-for="credentialViewModel.Password"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <input type="checkbox" class="form-check-input" asp-for="credentialViewModel.RememberMe" />
                <label class="form-check-label" asp-for="credentialViewModel.RememberMe"></label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
    </form>
</div>